<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9xbYpH1toiXFPN9pHfQZdu2SKqHCvcFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>215226798593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Majdi.com.sellerAppDelivery</string>
	<key>PROJECT_ID</key>
	<string>deliveryappnew-15dfb</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryappnew-15dfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215226798593:ios:1eea37ca22758094f2a600</string>
</dict>
</plist>